:root {
  --web-bg: #212121;
  --header-bg: #1f1e1e;
  --button-bg: #343436;
  --button-hover-bg: #3d3d3d;
  --button-color-hover-bg: #bcbcff;
  --navbar-bg: #222;
  --dropdown-option-bg: #333;
  --dropdown-bg: #222;
  --dropdown-option-hover-bg: #545454;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

@font-face {
  font-family: "Scada";
  src: url("/static/fonts/Scada-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scada";
  src: url("/static/fonts/Scada-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scada";
  src: url("/static/fonts/Scada-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scada";
  src: url("/static/fonts/Scada-Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CoolVetica";
  src: url("/static/fonts/coolvetica.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scada";
  src: url("/static/fonts/coolveticaitalic.otf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.header {
  padding: 50px 50px;
  color: ghostwhite;
  background: var(--header-bg);
}

.header h1 h2 h3 {
  font-family: "coolvetica";
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--web-bg);
  font-family: "Scada";
}

button {
  padding: 15px;
  border: none;
  background: var(--button-bg);
  border-radius: 20px;
  color: ghostwhite;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: var(--button-hover-bg);
  color: var(--button-color-hover-bg);
}

.dropbtn {
  transition: all 0.5s ease-in-out;
  background-color: var(--dropdown-bg);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: "Scada";
}

.dropdown {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transition: all 0.5s ease-in-out;
  display: none;
  position: absolute;
  background-color: var(--dropdown-option-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Scada";
}

.dropdown-content a {
  transition: all 0.5s ease-in-out;
  color: ghostwhite;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--button-color-hover-bg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--dropdown-btn-bg);
}

footer a {
  text-decoration: none;
}

footer a + a {
  margin-left: 5px;
}

.nav {
  overflow: hidden;
  background-color: var(--navbar-bg);
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.5s ease-in-out;
}

.nav a:hover {
  background-color: var(--navbar-bg);
  color: var(--button-color-hover-bg);
  color: #999;
}

.nav a.active {
  background-color: var(--dropdown-bg);
  color: #999;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.closed {
    position: relative;
  }
  .nav.closed .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.closed a {
    float: none;
    display: block;
    text-align: left;
  }
}

.icon {
  transition: all 1s ease-in-out;
}

.icon.closed {
  transform: rotate(90deg)
}

.countup {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
}
.countup span {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
}

.content {
  padding: 15px;
  display: flex;
  color: ghostwhite;
  font-size: 1em;
  background: #555;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}